#red {
    color: red;
}

.green {
    color: green;
}

.red {
    color: red
}

.gold {
    color: gold;
}

* {
    text-align: center;
    background-color: black;
}



.container li {
  /*  text-align: right;  */
  /* flex-direction: row; */
  display: inline-block;
 /* justify-content: space-between; */
}

